
<div class="mdl-grid">
{{#mdl-card title='Welcome to CodeCloud'}}
  <div class="mdl-card__supporting-text">
    A new upcoming CMS app proudly brought to you by <a href='https://codelab.io' target='_blank'>CodeLab</a> and <a href="https://emergedigital.co.za" target="_blank">EmergeDigital</a>
  </div>
  {{#mdl-card-actions}}
    {{mdl-button text='Awesome!'}}{{!-- {{mdl-icon icon='add'}} --}}
  {{/mdl-card-actions}}
{{/mdl-card}}
</div>

{{outlet}}
